extends ../layouts/base.pug

block vars
  - var title = "Табличные данные"
  - var currentPage = "tables"

block content
  .container.my-4
    h1.text-center Табличные данные

    h3.text-center.mt-4 Данные отдельных пользователей

    .table-responsive.mt-3
      table.table.table-dark.table-striped.table-bordered.align-middle.text-center(id="table")
        thead
          tr
            th(style="min-width:60px") ID
            th(style="min-width:160px") Игра в которую играл
            th(style="min-width:240px") Продолжительность игровой сессии (минуты)
            th(style="min-width:240px") Производительность и стабильность (к/сек)
            th(style="min-width:180px") Версия игры
        

    hr.my-4

    //- SORT
    h3.text-center Сортировка данных
    form.card.card-soft.p-3.table-page__card(id="sortForm")
      .row.g-3
        .col-12.col-lg-4
          label.form-label.fw-semibold(for="fieldsFirst") Первичная сортировка:
          select.form-select(name="sort_column_1" id="fieldsFirst")
          .form-check.form-check-inline По убыванию
            input.form-check-input#fieldsFirstDesc(type="checkbox")

        .col-12.col-lg-4
          label.form-label.fw-semibold(for="fieldsSecond") Вторичная сортировка:
          select.form-select(name="sort_column_2" id="fieldsSecond")
          .form-check.form-check-inline По убыванию
            input.form-check-input#fieldsSecondDesc(type="checkbox")

        .col-12.col-lg-4
          label.form-label.fw-semibold(for="fieldsThird") Третичная сортировка:
          select.form-select(name="sort_column_3" id="fieldsThird")
          .form-check.form-check-inline По убыванию
            input.form-check-input#fieldsThirdDesc(type="checkbox")

      .mt-3.d-flex.gap-2.flex-wrap
        button.btn.btn-outline-light(type="button" id="sortBtn") Применить сортировку
        button.btn.btn-outline-secondary(type="button" id="resetSortBtn") Сбросить

    hr.my-4

    h3.text-center Фильтрация данных
    form.card.card-soft.p-3.table-page__card(id="filter")
      .row.g-3
        .col-12.col-md-6.col-lg-4
          label.form-label.fw-semibold(for="playerID") ID игрока
          input.form-control(type="number" id="playerIDFrom" placeholder="например: 3")
          input.form-control(type="number" id="playerIDTo" placeholder="например: 8")

        .col-12.col-md-6.col-lg-4
          label.form-label.fw-semibold(for="game") Игра
          input.form-control(type="text" id="game" placeholder="например: PERCEPTUAL")

        .col-12.col-lg-4
          label.form-label.fw-semibold(for="duration") Продолжительность (мин)
          input.form-control(type="number" id="durationFrom" placeholder="например: 20")
          input.form-control(type="number" id="durationTo" placeholder="например: 90")

        .col-12.col-lg-6
          label.form-label.fw-semibold(for="performance") Производительность
          input.form-control(type="number" id="performanceFrom" placeholder="например: 170")
          input.form-control(type="number" id="performanceTo" placeholder="например: 200")

        .col-12.col-lg-6
          label.form-label.fw-semibold(for="version") Версия
          input.form-control(type="text" id="version" placeholder="например: beta-1.0")

      .mt-3.d-flex.gap-2.flex-wrap
        button.btn.btn-outline-light(type="button" id="findBtn") Применить фильтры
        button.btn.btn-outline-secondary(type="button" id="resetFilterBtn") Сбросить все фильтры
    
    h3.text-center Настройка графика
    form.card.card-soft.p-3.table-page__card(action="/generate-chart" method="post")
      .row.g-3
        .col-12.col-md-4
          label.form-label.fw-semibold(for="chart_type") Тип графика:
          select#chart_type.form-select(name="chart_type")
            option(value="line") Линейный график
            option(value="bar") Столбчатая диаграмма
            option(value="pie") Круговая диаграмма

        .col-12.col-md-4
          .fw-semibold.mb-1 Данные для отображения:
          .form-check
            input.form-check-input#series_duration(type="checkbox" name="data_series" value="duration")
            label.form-check-label(for="series_duration") Средняя продолжительность сессии
          .form-check
            input.form-check-input#series_perf(type="checkbox" name="data_series" value="performance")
            label.form-check-label(for="series_perf") Максимальная производительность

        .col-12.col-md-4
          .fw-semibold.mb-1 Ось X:
          .form-check
            input.form-check-input#x_games(type="radio" name="x_axis" value="games")
            label.form-check-label(for="x_games") По играм
          .form-check
            input.form-check-input#x_players(type="radio" name="x_axis" value="players")
            label.form-check-label(for="x_players") По игрокам

      .mt-3.d-flex.gap-2.flex-wrap
        button.btn.btn-outline-light(type="submit") Создать график
        button.btn.btn-outline-secondary(type="reset") Сбросить настройки

    hr.my-4

block scripts
  script(src="assets/js/table/data.js")
  script(src="assets/js/table/table.js")
  script(src="assets/js/table/main.js")
  script(src="assets/js/table/sort.js")
  script(src="assets/js/table/filter.js")