footer.container.my-4.text-center
  h5.mb-2 О себе
  p.mb-2.text-write-50 Онищенко Александр Евгеньевич. Б9123-09.03.04 (подгруппа 2)
  div.d-flex.justify-content-center.gap-2.flex-wrap
    each partner in ["YouTube", "GitHub", "Telegram"]
      a.btn.btn-outline-secondary.btn-sm(href="#")= partner 
